/* body {
  padding: 1rem;
} */

/* html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
} */

.searchbox {
  width: 50%;
}

.deleted-note-title {
  font-weight: bold;
  color: rgb(174, 171, 171);
}
